h1{
  color:#FFFF00;
text-align:center
}
p{
  text-align:center;
}
body {
  background:#1C1C1C;
}

.cp_h1title {
	padding: 4px 0;
	border-top: 3px double #2196F3;
	border-bottom: 3px double #2196F3;
	text-align: center;
	color: #1565C0;
}
